*{
    font-family:'Times New Roman', Times, serif;
    background-image: url(./full\ background.jpg) ;
}
.card{
    color: white ;
}

img{
    width: 5cm;
    height: 10cm;
}
.button{
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 12px;
}
footer{
    position: fixed;
    left:0;
    bottom:0;
    width:100%;
    image-resolution: 20px;
    background-color: bisque;
    color:black;
    text-align: center;
}
.footer-content{
    max-width: 960px;
    margin: 0 auto;
    font-family: "Comic Sans MS", "Comic Sans", "cursive";
    font-style: bold italic;
    font-weight: 100;
    line-height: 1.4;
    letter-spacing: .03em;
    font-size: 1em;
}
.credit{
  text-align: center;
}